.pack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p {
    text-transform: capitalize;
    color:   #58d68d;
    font-size: 1.6rem;
    font-family: sans-serif;
}

.b {
    margin-top: 10px;
    padding: 10px;
    border-radius: 9px;
    background-color: #212f3d;
    color: #fff;
    width: 17cm;
    text-align: center;
}

.pack p {
    font-size: large;
    width: 96%;
    line-height: 2;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}
input[type="email"] {
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
    font-size: large;
    border: none;
    outline: none;
    margin-bottom: 10px;
  }

.contac {
    display: none;
    z-index: 999;
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 1;
}
.premium {
    background-color: #2a3c4e;
}
.max {
    background-color: #405e7c;
}

/* respone form  */
@media (min-width: 300px) and (max-width: 900px) { 
    .pack {
        transform: translate(5%);
    }
    .b {
        width: 90%;
        height: fit-content;
    }
    
}

@media (min-width: 900px) and (max-width: 1300px) {

    

}

