.download {
    background-color: #17202A;
    margin-top: 5%;
    height: 100vb;
    display: flex;
    flex-direction: column;
    color: #F2F8EF;
    align-items: center;
    text-align: center;
}
.download select {
    display: block;
    width: 90%;
    margin-bottom: 14%;
    margin-top: 2%;
    height: 50px;
    text-align: center;
    font-size: x-large;
}
select {
    color: #8841EE;
    border: #8841EE dotted 2px;
    outline: none;
}
.opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #F2F8EF;
    color: #17202A;
    padding: 20px;
    border-radius: 7px;
    margin-top: 2%;
}
.opt h2 {
    position: relative;
    color: #8841EE;
    left: 0;
}
#t-f , #t-gta{
    display: none;
}
button {
    text-transform: capitalize;
    background-color:  #8841EE;
    color: var(--mainColor);
    width: 5cm;
    padding: 6px;
    border: unset;
    height: 40px;
    width: 40%;
}