.download {
    background-color: #17202A;
    margin-top: 5%;
    /* height: 100vb; */
    display: flex;
    flex-direction: column;
    color: #F2F8EF;
    align-items: center;
    text-align: center;
}
.download select {
    display: block;
    width: 90%;
    margin-bottom: 14%;
    margin-top: 2%;
    height: 50px;
    text-align: center;
    font-size: x-large;
}
select {
    color: #8841EE;
    border: #8841EE dotted 2px;
    outline: none;
}
.opt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #F2F8EF;
    color: #17202A;
    padding: 20px;
    border-radius: 7px;
    margin-top: 2%;
}
.opt h2 {
    position: relative;
    color: #8841EE;
    left: 0;
}
#t-f , #t-gta{
    display: none;
}
button {
    text-transform: capitalize;
    background-color:  #8841EE;
    color: var(--mainColor);
    width: 5cm;
    padding: 6px;
    border: unset;
    height: 40px;
    width: 40%;
}
.links img {
    width: 170px;
    height: 170px;
    margin-top: 40px;
    border-radius: 10px;
}
.links p {
    text-align: center;
    line-break: loose;
    line-height: 2;
}
.link-tools ul {
    list-style: none;
}
.link-tools ul li {
    background-color: #fff;
    width: 4cm;
    color: #000;
    padding: 13px;
    border-radius: 10px;
    margin-bottom: 3%;
    margin-left: 43%;
}

/* now we gona make it for the smart phone size */
@media (min-width: 300px) and (max-width: 860px) {
    .center {
        flex-direction: column;
    }
}


/* now we gona make it for the smart phone size */
@media (min-width: 300px) and (max-width: 640px) {
    p {
        width: 70%;
        margin-left: 15%;
        line-height: 3;
    }
    .link-tools ul li{
        margin-left: 30%;
    }
}