a {
  text-decoration: none;
  color: #1be266;
  font-weight: bold;
  font-family: sans-serif;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flex {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
}
.h1 {
  font-size: 2em;
}
.h2 {
  font-size: 1.5em;
}
#ball2 {
    display: none;
}
.x {
  position: fixed;
  height: 2cm;
  width: 2cm;
  background-color: inherit;
  top: 16px;
  left: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x svg {
  font-size: x-large;
  cursor: pointer;
}

body {
  position: relative;
}
.confirm  {
  display: none;
  position: fixed;
  left: 20%;
  top: 5%;
  width: 30%;
  background-color: rgb(220, 220, 43);
  color: white;
  height: fit-content;
  padding-bottom: 40px;
  width: 60%;
  text-align: center;
  text-transform: capitalize;
  line-height: 3;
  overflow: hidden;
}

.sendInfo {
  display: none;
  position: fixed;
  left: 20%;
  top: 5%;
  width: 30%;
  background-color: rgb(220, 220, 43);
  color: white;
  height: fit-content;
  padding-bottom: 40px;
  width: 60%;
  text-align: center;
  text-transform: capitalize;
  line-height: 3;
  overflow: hidden;
}

.confirm .admin,.alert {
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


.confirm .btn1,.btn2 {
  display: inline-block;
  background-color: white;
  color: black;
  width: 40%;
  height: fit-content;
  cursor: pointer;
}

.sendInfo input {
  height: 40px;
  border: none;
  outline: none;
  margin-bottom: 40px;
  width: 80%;
}

.sendInfo button {
  display: block;
  position: relative;
  left: 43%;
}

.confirm .sendInfo {
  display: none;
}
@media (min-width: 901px) and (max-width: 1300px) {
  .sendInfo button {
    left: 40%;
  }
   }

   @media (min-width: 300px) and (max-width: 599px) {
    .sendInfo button {
      left: 30%;
    }
   }
@media (min-width: 600px) and (max-width: 900px) {
  .confirm {
    width: 80%;
    left: 10%;
  }
  .sendInfo button {
    left: 38%;
  }
     
}
.error {
  display: none;
  position: absolute;
  top: 1%;
  left: 15%;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
}

.red-1em {
  color: #FF5733;
  font-size: 1em;
}

.links-space {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.links-space a {
  display: block;
}