a {
    text-decoration: none;
    color: #2ECC71;
    font-weight: bold; 
}
a:hover {
    color: #bb00ff;
}
.top {
    display: none;
    border: solid salmon;
    height: 30px;
    width: 100px;
    background-color: inherit;
    border-radius: 10px;
    text-align: center;
    line-height: 1.5;
    margin: 10px;
}
.p-of-soft  {
    font-size: 1.5em;
    text-transform: capitalize;
    color: #2ECC71;
 }
 .ul-of-soft  {
    display: flex;
    list-style: decimal;
    justify-content: space-around;
 }

 @media (max-width: 901px) { 
    .ul-of-soft  {
        display: flex;
        flex-direction: column;
        line-height: 2;
        list-style: decimal;
        justify-content: space-around;
     }
 }

 .card {
    background-color: #110F0F;
    color: #F2F8EF;
    width: 420px;
    height: 350px;
    border-radius: 10px;
    margin-left: 20px;
    padding: 1%;
}
.card a {
    line-height: 4;
    list-style: none;
    text-align: center;
    width: 100%;
}
