* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

nav img {
    width: 2cm;
    height: 2cm;
    border-radius: 17px;
    transition: 900ms;
}

nav ul {
    list-style: none;
    display: flex;
    margin-top: 9%;
}

nav ul  a {
    transition: 900ms;
    margin-left: 15%;
}

nav ul a:hover {
    transition: 900ms;
    color: #8B1BE2;
}

nav ul a:hover::after {
    content: '';
    display: flex;
    height: 5px;
    background-color: #8B1BE2;
}

nav img:hover {
    transition: 900ms;
    box-shadow: 10px 5px 5px #8B1BE2;
}

header {
    margin-top: 7%;
}

header img {
    width: 4cm;
    height: 4cm;
    border-radius: 50%;
    margin-top: 5%;
}

.who-iam {
    margin-top: 8%;
    background-color: #8B1BE2;
    color: #EBE7EE;
}

.who-iam p {
    font-size: 2rem;
    line-height: 2;
    width: 70%;
    margin-left: 14%;
}