:root {
    --mainColor: #FBFCFC ; 
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
nav {
    background-color: #2E4053;
    color: var(--mainColor);
}
nav h1 {
    margin: 0;
    letter-spacing: 5px;
    font-family: var(--mainFont);
    text-align: center;
    padding-top: 10px;
    margin-left: 2%;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
nav .welcom {
    background-color: #2E4053;
    color: var(--mainColor);
    height: 6cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
nav .welcom  p {
    width: 80%;
    font-size: 17px;
    font-family: monospace;
    text-transform: capitalize
}
nav button  {
    text-transform: capitalize;
    background-color: #17202A;
    color: var(--mainColor);
    width: 5cm;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 23%;
}
nav .welcom img {
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 5px 5px 5px #2ECC71;
    filter: blur(0.5px);
    transition: 600ms;
    margin-bottom: 20px;
}
nav .welcom img:hover {
    display: none;
    width: 120px;
    height: 120px;
    border-radius: 70%;
    box-shadow: 5px 5px 5px var(--mainColor);
    filter: blur(0px);
    transition: 900ms;
}
.about {
    margin: 4%;
    background-color: #17202A;
    color: var(--mainColor);
    border-radius: 20px;
    padding: 20px;
}
.about table {
    border: solid 3px;
    width: 100%;
    text-align: center;
    line-height: 4;
    border-radius: 10px;
}
.about table td {
    background-color: #2E4053;
    font-weight: bold;
}
.about table thead td {
    color: #2ECC71;;
}
.about p {
    color: #CD6155;
    font-weight: bold;
    text-align: center;
    line-height: 2;
}