:root {
    --mainColor: #fff; 
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
nav {
    background-color: #2E4053;
    color: var(--mainColor);
}
nav h1 {
    margin: 0;
    letter-spacing: 5px;
    font-family: var(--mainFont);
    text-align: center;
    padding-top: 10px;
    margin-left: 2%;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
nav .welcom {
    background-color: #2E4053;
    color: var(--mainColor);
    height: 6cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
nav .welcom  p {
    width: 80%;
    font-size: 17px;
    font-family: monospace;
    text-transform: capitalize
}
nav button  {
    position: relative;
    left: 15%;
    text-transform: capitalize;
    background-color: #17202A;
    color: var(--mainColor);
    width: 5cm;
    padding: 6px;
    margin-bottom: 30px;
    margin-left: 2%;
}
nav .welcom img {
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}