body {
    background-color: rgb(57, 54, 54);
    color: rgb(248, 241, 241);
}

.sofai {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sofai h1 {
    letter-spacing: 6px;
    font-weight: bold;
}


.sofai  button {
    display: block;
    background-color: #fff;
    padding: 18px;
    border-radius: 10% / 26%;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    margin: auto;
}

.who {
    margin-bottom: 3%;
}

.sofai .who img {
    width: 300px;
    height: 300px;
}

.sofai .who ul,ol {
    list-style: none;
    background-image: url('../resours/images/morganLogo.jpg');
    /* background-repeat:repeat-x; */
    background-size: cover;
    padding: 10px;
    line-height: 2;
    font-size: large;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    rotate: 5deg;
    font-weight: bold;
    text-align: center;
    width: 200px;
}

.sofai li {
    background-color: black;
    width: fit-content;
    padding: 3px;
    border-radius: 8px;
    font-family: monospace;
}

.download {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.download img {
    width: 5cm;
    height: 5cm;
    margin: 50px 0 50px 0;
}

.sofai video {
    width: 370px;
    height: 300px;
    margin-bottom: 3%;
}


@media (min-width: 300px) and (max-width: 900px) {
    .sofai , .download{
       flex-direction: column;
    }
    .who ul{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        rotate: 0deg;
        overflow: hidden;
    }   
}



