.container {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.welcom-to-sofai {
    padding: 3%;
    background-color: #F2F8EF;
}
.welcom-to-sofai h1 {
    color: #110F0F;
}
.welcom-to-sofai p {
    text-align: center;
    line-height: 2;
}
.welcom-to-sofai img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    left: 36%;
}
@media (min-width: 600px) and (max-width: 840px) {
    /* this is ipade */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container div {
        margin-bottom: 3%;
    }
}

/* now we gona make it for the smart phone size */
@media (min-width: 300px) and (max-width: 599px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container div {
        margin-bottom: 3%;
        width: 300px;
        height: fit-content;
    }
    .welcom-to-sofai img {
        left: 20%;
        width: 200px;
        height: 200px
    }
}