    body {
        background-color: #151414;
        color: rgb(248, 241, 241);
    }

    .tmk {
        height: fit-content;
        margin-top: 3%;
    }

    .header {
        border-radius: 10px;
        background-image: url('../resours/images/harry2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 60%;
        width: 60%;
        margin: auto;
        /* filter: blur(); */
        padding: 30px;
    }

    .header ul {
        width: 50%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-weight: bold;
    }

    .green {
        color: rgb(88, 196, 88);
    }

    .border {
        text-decoration: underline;
        border-radius: 5px;
    }

    .header p {
        font-weight: bold;
        width: 40%;
        line-height: 2;
        margin-left: 4%;
    }

    button {
        display: inline-block;
        width: 20%;
        height: 40px;
        margin-left: 10%;
        border: none;
        background-color: rgb(88, 196, 88);
        color: #ebe7ee;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;
        font-weight: bold;
    }

    .slide {
        background-color: black;
        height: 100vb;
        width: 50px;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-weight: bold;
        top: 0;
        left: 0;
    }

    .slide svg {
        font-weight: bold;
        cursor: pointer;
        font-size: large;
    }
    .slide svg:hover {
        color: rgb(88, 196, 88);
    }

    .recommend {
        height: 400px;
        margin-left: 140px;
        display: flex;
        justify-content: space-between;
        width: calc(95% / 2);
        flex-wrap: wrap;
        margin-bottom: 30px;
        overflow: scroll;
    }

    .left-me {
        margin-left: 140px;
    }
    .recommend .card {
        height: 200px;
        background-image: url('../resours/images/mr.jpg');
        background-size: cover;
        width: 5cm;
        border-radius: 6px;
        font-weight: bold;
        padding-left: 3px;
        color: white;
        margin-bottom: 20px;
        /* flex-wrap: wrap; */
    }