.body {
   background-color: #e3e6e6;
   height: 100vb;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-weight: bold;
    background-color: #2c3e50;
    color:  #f4f6f7;
    padding: 10px;
}

header ul li {
    color: #f4f6f7;
}

.card {
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    align-items: center;
}
.card h3 {
    font-size: 1.5em;
    font-family: mono;
    color: red;
}
.card img {
    width: 220px;
    height: 220px;
}
.container-cards {
    display: flex;
    width: 96%;
    flex-wrap: wrap;
    justify-content: center;
}

