select {
    display: block;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 2cm;
}

.search input  {
    width: 52%;
    height: 55px;
    outline: none;
    border: none;
    background-color: rgb(212, 210, 210);
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 5px;
}

.search input::placeholder {
    text-align: center;
    text-transform: capitalize;
    font-family: monospace;
    color: rgb(0, 0, 0);
}

.search button {
    display: block;
    background-color: #bbb;
    color: black;
    margin-left: 6px;
    width: 90px;
    border-radius: 5px;
}

.option {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.option select {
    background-color: unset;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.con {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.con .news {
    /* background-color: black; */
    width: 81%;
    margin-left: 5cm;
    height: 8cm;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    line-height: 2;
    text-align: center;
}

.news button {
    width: 23%;
    height: 40px;
    text-transform: uppercase;
    border: none;
    background-color: #bbb;
    color: black;
    font-weight: bold;
    border-radius: 4px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card button {
    width: fit-content;
    height: 40px;
    text-transform: uppercase;
    border: none;
    background-color: rgb(97, 121, 121);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.prodacte {
    display: flex;
    justify-content: space-around;
}

.prodacte .card {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card .title {
    font-size: medium;
    background-color: rgb(208, 65, 65);
    color: white;
    padding: 9px;
    border-radius: 4px;
    rotate: 8deg;
    position: relative;
    top: 8%;
}

select:optional {
    width: 14cm;
    color: red;
    text-align: center;
}

.container {
    text-align: center;
    text-transform: capitalize;
    margin-top: 4%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container ul {
    list-style: none;
    background-color: white;
    color: black;
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
}

.container h1 {
    color: red;
}

.container ul li {
    padding: 30px;
    font-size: 1.3em;
}

.container button {
    padding: 10px;
    font-weight: bold;
    color: green;
    background-color: inherit;
    border: green 3px solid;
    border-radius: 10px;
    cursor: pointer;
}