.blog {
    margin-top: 40px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

iframe {
    height: 500px;
    margin: auto;
    width: 60%;
}

p {
    line-height: 2;
    text-align: center;
    /* padding: 20px; */
    font-weight: bold;
    font-size: 1.2em;
}

@media (min-width: 300px) and (max-width: 900px) {
    iframe {
        width: 90%;
    }
    p {
        line-height: 2;
        text-align: center;
        padding: 20px;
        font-weight: bold;
        font-size: 1.2em;
    }
}